<div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">

    <!-- Inner -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white text-center">
                        <h1 class="mb-3">Hospital Forte</h1>
                        <h5 class="mb-4">Prueba Tecnica Segunda Parte</h5>
                        <a class="btn btn-outline-light btn-lg m-2" [routerLink]="['/reservas']">Reservas</a>
                        <a class="btn btn-outline-light btn-lg m-2" [routerLink]="['/reportes']">Reporte</a>
                    </div>
                </div>
            </div>
        </div>


    </div>



</div>