table {
    width: 80%;
    margin: 1rem auto;
}

.contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    max-width: 100%;
    box-shadow: -1px 3px 66px 0px rgba(0, 0, 0, 0.75);
    padding: 1rem;
}

.custom-padding {
    padding-right: 20px;
}